$accentColor = #FED906

.custom-block.tip {
  border-color: #FED906 !important
}

.badge.tip {
  background-color: #FED906 !important
}

.theme-default-content:not(.custom) {
  max-width: 80rem !important
}
.page-edit:not(.custom) {
  max-width: 80rem !important
}
.page-nav:not(.custom) {
  max-width: 80rem !important
}

img[src*="#wh3"] {
 width: 30%
 height: 30%
}